body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center;
    display: flex; */
    flex-direction: column;
    background: var(--bg-body);
    padding-inline: 20px;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
}



body[data-theme="light"] {
    --bg-body: #F2F2D5;
    --bg-header: #FBF1E2;
    --color-link: #9E9E9E;
    --blue: #FBF1E2;
    --text-color: #CAA97F;
    --bg-footer: #FBF1E2;
}

body[data-theme="dark"] {
    --bg-body: #181818;
    --bg-header: #003E00;
    --color-link: #FB3A00;
    --blue: #015600;
    --text-color: white;
    --bg-footer: #003E00;
}

body[data-theme="hawaii"] {
    --bg-body: #FD5BAA;
    --bg-header: #FCFC00;
    --color-link: #FC3900;
    --blue: #03FDFE;
    --text-color: #000000;
    --bg-footer: #FD3900;
}

header {
    background-color: var(--bg-header);
    color: transparent;
    border: var(--text-color) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-inline: 20px;

    label {
        color: var(--text-color);
    }

    h1 {
        font-size: 6.5rem;
        -webkit-text-stroke: 3px var(--text-color);
    }

    select {
        margin-top: 10px;
        padding: 8px;
        font-size: 1rem;
        border-radius: 5px;
    }
}


main {
    padding: 40px;
    color: var(--text-color);
    background: var(--blue);
    flex: 1;
    border: var(--text-color) solid 1px;
    min-height: 30vh;

    a {
        color: var(--color-link);
    }
}

footer {
    padding: 20px;
    background-color: var(--bg-footer);
    color: var(--text-color);
    margin-top: auto;
    border: var(--text-color) solid 1px;

    h2 {
        font-size: 3rem;
    }
}